* {
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #333;
    line-height: 1.5;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 15px;
    background: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #111;
    font-size: 14px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #919090;
}

/* AVATAR */
.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* HERO */
#hero {
    background-image: url("./Assets/Header\ Background.png");
    background-size: cover;
    background-position: center;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
}

#hero .hero-content {
    padding: 20px;
    width: 700px;
}

#hero .hero-content h1 {
    margin-bottom: 20px;
    font-size: 60px;
}

button {
    padding: 12px 28px;
    border: 1px solid white;
    border-radius: 8px;
    background: transparent;
    color: white;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
}

button:hover {
    color: black;
    background: white;
}

/* SECTIONS */
section {
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    border-radius: 12px;
}

section h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 32px;
    color: #222;
}

section h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background: #6c63ff;
    margin: 10px auto 0;
    border-radius: 10px;
}

/* CARD SLIDER */
.card-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

.card-slider::-webkit-scrollbar {
    display: none;
}

.card-slider {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* CARD */
.card {
    min-width: 280px;
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(8, 7, 17, 0.1);
    flex-shrink: 0;
    transition: 0.3s;
}

/* CARD IMAGE */
.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* CARD TEXT */
.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}

/* PROJECT BUTTONS */
.card a {
    display: inline-block;
    margin-right: 8px;
    margin-top: 5px;
    padding: 8px 12px;
    background: #333;
    color: #f1f1f1;
    border-radius: 20px;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
}

.card a:hover {
    background: #444;
}

/* TAGS */
.tags span {
    background: #14143a;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.card2 {
    max-width: 800px;
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    flex-shrink: 0;
    transition: 0.3s;
}

.card, .card2 {
    border: 1px solid #eee;
}

.card:hover, .card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* SKILLS */
.icons {
    display: flex;
    justify-content: space-between;
}

.icons i {
    background: #f5f5ff;
    padding: 18px 22px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* FOOTER */
footer {
    background: linear-gradient(135deg, #111, #2b2b5f);
    color: white;
    padding: 5px;
    text-align: center;
}

/* Footer Title */
footer h2 {
    margin-top: 5px;
    color: #aaa;
}

/* Footer Container */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

/* Footer Items */
.footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 18px;
    border: none;
    transition: 0.3s;
}

/* Icons */
.footer-item i {
    font-size: 18px;
    color: #aaa;
}

/* Links */
.footer-item a {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
}

/* Hover Effect */
.footer-item:hover {
    background: #333;
    border-radius: 15px;
    transform: translateY(-3px);
}

/* Bottom Text */
.footer-bottom {
    font-size: 11px;
    margin-top: 10px;
    color: #aaa;
}

/* Mobile */
@media (max-width: 768px) {

    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    
    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .hero-content h1 {
        font-size: 40px;
    }
    
    .card {
        min-width: 240px;
    }
}